.app {
    font-family: 'Noto Sans';
    font-size: 13px;
}
:after, :before {
    box-sizing: inherit;
}
.headerApp {
    top: 0;
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 10;
    display: flex;
    line-height: 55px;
    box-shadow: 0 1px 2px 0 rgba(40,42,49,.16);
    background-color: #0c4b7c;
}
    .headerApp-Title {
        padding-left: 16px;
        width: 400px;
        font-size: 20px;
    }
    .logoApp {
        background-color: inherit;
        height: 55px;
        display: flex;
        align-items: center;
    }
    .headerApp-Title .logoApp img{
        width: 200px;
        margin: 0;
    }
.headerApp .headerApp-nar{
    position: fixed;
    top: 10px;
    right: 0px;
}
.headerApp .headerApp-nar.Guest{
    padding-right: 16px;
    display: flex;
    align-items: center;
    }
    button.g-button.g-intent-primary{
        background-color: #1f82cc;
        border-color: #1f82cc;
        box-shadow: none;
    }
    .headerApp .headerApp-nar.Guest button{
        margin: 0 15px;
    }
    button.g-button.g-intent-primary .g-button-text{
        font-weight: 400;
        font-size: 13px;
        flex: 0 1 auto;
    }
.g-button.g-intent-primary {
        line-height: 1.499;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        white-space: nowrap;
        padding: 0 15px;
        font-size: 14px;
        border-radius: 4px;
        height: 32px;
        user-select: none;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: relative;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
        color: rgba(0, 0, 0, 0.65);
        background-color: #fff;
        border: 1px solid #d9d9d9;
        color: #fff;
        background-color: #1890ff;
        border-color: #1890ff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045); 
    }
.app .register {
    display: grid;
    background: #f6f6f6;
}
.app .register .registerForm{
    background: #fff;
    padding: 20px 50px;
    max-width: 700px;
    min-width: 500px;
    margin: 100px auto 120px;
    display: flex;
    flex-flow: column nowrap;
}
.app .register .title{
    color: #fa4a11;
    text-align: center;
}
.app .register .greeting {
    box-shadow: 0 1px 0 rgba(16, 22, 26,.15);
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.app .register .g-formGroup{
    flex-flow: row nowrap;
    margin: 0 0 25px;
    display: flex;
}
    .app .register .g-formGroup .g-label{
        flex: 0 0 40%;
        padding-top: 5px;
    }
    .app .register .g-label{
        font-weight: 600;
        display: flex;
        flex-flow: column nowrap;
    }
    .g-formGroup label.g-label{
        margin-bottom: 5px;
        margin-top: 0;
    }
.app .register .g-formGroup .g-contentForm{
    display: flex;
    flex: 0 0 55%;
    flex-flow: column nowrap;
}
.register .g-formGroup .g-contentForm .g-inputGroup{
    width: 100%;
    display: block;
    position: relative;
}
.g-contentForm .g-inputGroup input{
    height:45px;
    position: relative;
    width: 100%;
}
    .g-input{
        outline: none;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        background: #fff;
        height: 30px;
        padding: 0 10px;
        vertical-align: middle;
        line-height: 30px;
        color: #182026;
        font-size: 14px;
        font-weight: 400;
        transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
    }
.app .register .g-formGroup.shopName{
    margin: 0 0 10px;
}
.app .register .g-formGroup .g-contentForm p{
    margin: 10px 0;
    opacity: .5;
}
.app .register .g-label span{
    font-weight: 400;
}
.g-textMuted{
    color: #888;
}
.g-inputGroup.g-disabled{
    cursor: not-allowed;
}
.g-input:disabled {
    box-shadow: none;
    background: rgba(206,217,224,.5);
    cursor: not-allowed;
    color: rgba(92,112,128,.5);
    resize: none;
}
.app .register .g-formGroup .g-htmlSelect select{
    height: 45px;
    background: #fff;
}
.g-htmlSelect select{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
    background-color: #f5f8fa;
    color: #182026;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    padding: 0 25px 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.g-htmlSelect{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: normal;
}
.g-htmlSelect .g-icon{
    top:30%;
    color: #5c7080;
    position: absolute;
    pointer-events: none;
    right: 7px;
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: text-bottom;
}
.app .register .g-formGroup .g-radio{
    margin-right: 50px;
    margin-top: 7px;
}
.g-control:not(.g-align-right){
    padding-left: 26px;
}
.g-control{
    display: block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: none;
}
.g-control input{
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    position: absolute;
}
[type=radio]{
    box-sizing: border-box;
    padding: 0;
}
.g-control input:not(:disabled):active:checked~.g-controlIndicator{
    box-shadow: inset 0 0 0 1px rgba(16,22,26, .4),
                inset 0 1px 2px rgba(16,22,26,.2);
    background: #0e5a8a;
}
.g-control input:not(:disabled):active~.g-controlIndicator{
    box-shadow: inset 0 0 0 1px rgba(16,22,26, .2),
                inset 0 1px 2px rgba(16,22,26,.2);
    background: #d8e1e8;
}
.g-control:hover input:checked~.g-controlIndicator {
    box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),
                inset 0 -1px 0 rgba(16,22,26,.2);
    background-color: #106ba3;
}
.g-control input:checked~.g-controlIndicator{
    box-shadow: inset 0 0 0 1px rgba(16,22,26, .2),
                inset 0 1px 2px rgba(16,22,26,.2);
    background: #d8e1e8;
}
.g-control.g-radio .g-controlIndicator{
    border-radius: 50%;
}
.g-control:hover .g-controlIndicator{
    background-color: #ebf1f5;
}
.g-control:not(.g-align-right) .g-controlIndicator{
    margin-left: -26px;
}
.g-controlIndicator{
    outline: none;
}
.g-control .g-controlIndicator{
    display: inline-block;
    position: relative;
    margin-top: -3px;
    margin-right: 10px;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
    background-clip: padding-box;
    background-color: #f5f8fa;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
    cursor: pointer;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: 16px;
}
.app .register .g-button{
    background: #fa4a11;
    margin: 0 auto 30px;
    padding: 15px 50px;
    box-shadow: none;
    height: unset;
    border: unset;
    position: relative;
}
.app .register .registerForm>p{
    margin-left: auto;
    margin-right:auto;
}
a {
    color: #106ba3;
}
